params {
    samplesheet        = "${projectDir}/sample_sheet.csv"
    outdir             = "results"
    reference_genome   = "${projectDir}/data/GRCh38.p14_canonical.fna"
    target_bed         = "${projectDir}/data/CancerPanelAll.bed"
    non_target_bed_file= "${projectDir}/data/CancerPanelAll.non_target.bed"
    sequencing_summary = "${projectDir}/data/sequencing_summary.txt"
    clair3_model_path  = "${projectDir}/opt/clair3/models/ont"  // path to Clair3 ONT model
    annovar_dir        = '/path/to/annovar'
    annovar_db    = "/path/to/annovar/humandb"
    svanna_jar         = "${projectDir}/data/svanna-cli-1.0.1.jar"
    svanna_db          = "${projectDir}/data/svanna-db-dir"
}

process {
    withLabel: docker {
        container = 'yourdockerimage:latest'
    }
}

profiles {
    docker {
        process.executor = 'local'
        process.container = 'bio_pipeline:latest'
        docker.enabled = true
    }

    conda {
        conda.enabled = true
        conda.file = 'environment.yml'
    }
}
