params {
    input_dirs = ["${projectDir}/fastq_run1", "${projectDir}/fastq_run2"]  // Directories containing FASTQ files
    reads_fastq = "${projectDir}/fastq_*/*.fastq.gz"  // Input FASTQ files (wildcard matching)
    outdir      = "results_genomics"                    // Output directory for results
    reference_genome = "${projectDir}/data/GRCh38.p14_canonical.fna"  // Reference genome for mapping
    target_bed_file = "${projectDir}/data/CancerPanelAll.bed"  // BED file for target regions
    non_target_bed_file = "${projectDir}/data/CancerPanelAll.non_target.bed"  // BED file for non-target regions
    sequencing_summary = "${projectDir}/data/sequencing_summary_FAL73976_3461bedd.txt" // Add the path to the sequencing summary file
}

process {
    executor = 'local'
    cpus = 4
    memory = '8GB'
    time = '2h'
}